* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.allContainer {
    display: flex;
    flex-direction: row;
}

.container {
    height: 100em;
    background-color: rgb(83, 83, 103);
}

.containerNoGroupe {
    background-color: rgb(232, 221, 221);
    width: 33%;
    padding: 15px;
}

.containerNoGroupe>h2 {
    padding: 25px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.containerInNoGroupe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.containerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px;
    flex-wrap: wrap;
    height: 50%;

}

.cardContainer>h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 10px 10px;
    font-size: 18px;
    border-bottom: 1px solid grey;
    color: rgb(0, 0, 0);
}

.card {
    height: 350px;
    background-color: rgb(255, 255, 255);
    min-width: 150px;
    max-width: 350px;
    color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 33%;
}

.dataCard {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.dataCard>p {
    text-align: center;
}

.join {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join>form>a>button {
    border-radius: 8px;
    background-color: rgb(118, 41, 96);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}